Xft.dpi: 133

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Betűtípus
XTerm*faceName: NotoSansM Nerd Font
XTerm*faceSize: 12

! Színséma
XTerm*foreground:   white
XTerm*background:   black
XTerm*cursorColor:  green
XTerm*color0:       #000000
XTerm*color1:       #cc0000
XTerm*color2:       #4e9a06
XTerm*color3:       #c4a000
XTerm*color4:       #3465a4
XTerm*color5:       #75507b
XTerm*color6:       #06989a
XTerm*color7:       #d3d7cf
XTerm*color8:       #555753
XTerm*color9:       #ef2929
XTerm*color10:      #8ae234
XTerm*color11:      #fce94f
XTerm*color12:      #729fcf
XTerm*color13:      #ad7fa8
XTerm*color14:      #34e2e2
XTerm*color15:      #eeeeec

! Scrollbar engedélyezése
XTerm*scrollBar: false
! XTerm*rightScrollBar: true
! XTerm*scrollBar_thumb: grey
XTerm.vt100.selectToClipboard: true
XTerm*saveLines: 10000

! Kurzor beállítások
XTerm*cursorBlink: true
XTerm*cursorUnderline: true

! Ablak címe
XTerm*title: Xterm
XTerm*iconName: terminal
xterm*utf8: 1
xterm*locale: true
xterm*termName: xterm-256color
xterm*renderFont: true
! xterm*forceScaledFont: true
! xterm*scaleHeight: 1.0
